*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
Gemfile.lock
node_modules
npm-debug.log*


_posts/2018-09-28-customer-behavior-analysis-using-real-time-data-processing:-a-case-study-of-digital-signage-based-online-stores
