<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "BreadcrumbList",
"itemListElement": 
	[
		{
		"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": "https://justudin.github.io/",
				"name": "Home"
			}
		},
		{
		"@type": "ListItem",
			"position": 2,
			"item": {
				"@id": "https://justudin.github.io/blog/",
				"name": "Blog"
			}
		},
		{
		"@type": "ListItem",
			"position": 3,
			"item": {
				"@id": "https://justudin.github.io/research/publications/",
				"name": "Publications"
			}
		},
		{
		"@type": "ListItem",
			"position": 4,
			"item": {
				"@id": "https://justudin.github.io/research/projects/",
				"name": "Projects"
			}
		},
		{
		"@type": "ListItem",
			"position": 5,
			"item": {
				"@id": "https://justudin.github.io/research/misc/",
				"name": "Miscellaneous"
			}
		},
		{
		"@type": "ListItem",
			"position": 6,
			"item": {
				"@id": "https://justudin.github.io/contact/",
				"name": "Contact"
			}
		}
		
	]
}
</script>