---
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    {% include seo.html %}
    <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <!-- For all browsers -->
    <script src="{{ '/assets/js/sw-register.js' | absolute_url }}"></script>
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {{ content }}

    <div class="page__footer">
      <footer>
        <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.</div>
      </footer>
    </div>
    
    <script src="{{ '/assets/js/plugins/jquery-1.12.4.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/plugins/rrssb.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/slimmenu.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/main.js' | absolute_url }}"></script>
    {% include analytics.html %}

  </body>
</html>
