---
layout: default
---

{% include breadcrumbs.html %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | truncate: 100 | jsonify }},
  "keywords": {{ page.tags | join: ',' | jsonify }},
  "description": {{ page.categories | join: ',' | strip_html | strip | jsonify }},
  "articleBody": {{ page.content | strip_html | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "dateModified": {{ page.modified | default: page.date | jsonify }},
  "isFamilyFriendly": "true",
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "givenName": {{ site.author.firstname | jsonify }},
    "familyName": {{ site.author.lastname | jsonify }},
    "email": {{ site.author.email | jsonify }},
	"sameAs" : [
		"https://orcid.org/0000-0002-5640-4413",
		"https://scholar.google.co.kr/citations?user=WLTzkOMAAAAJ&hl=en",
		"https://www.researchgate.net/profile/Muhammad_Syafrudin",
		"https://www.mendeley.com/profiles/muhammad-syafrudin2/",
		"https://www.scopus.com/authid/detail.uri?authorId=57197741727",
		"https://publons.com/researcher/1501728/muhammad-syafrudin/",
		"http://ise.dongguk.edu/bbs/board.php?bo_table=ise5_1&wr_id=36",
		"https://engineer.dongguk.edu/en2_2_6/1",
		"https://www.linkedin.com/in/justudin",
		"https://sciprofiles.com/profile/212473",
		"https://ieeexplore.ieee.org/author/37086107273",
		"https://dblp.org/pers/s/Syafrudin:Muhammad",
		"https://profiles.impactstory.org/u/0000-0002-5640-4413",
		"https://dl.acm.org/profile/99659326902",
		"https://www.wikidata.org/wiki/Q61147698",
		"http://europepmc.org/authors/0000-0002-5640-4413",
		"http://gsl-archive.mit.edu/accounts/902/"
	]
  },
	"publisher": {
		"@type": "Organization",
		"name": {{ site.author.name | jsonify }},
		"url": "{{ site.url }}",
		"logo": {
			"@type": "ImageObject",
			"url": "https://scholar.googleusercontent.com/citations?view_op=view_photo&user=WLTzkOMAAAAJ&citpid=10"
		}
	},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  }
}
</script>

<div id="main" role="main">
  <article class="post" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="post__inner-wrap">
      <header>
        {% if page.title %}<h1 class="post__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        
        {% if page.date %}
        <p class="post__meta"> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }} </time></p>
        {% endif %}
      </header>
      
      <section class="post__content" itemprop="text">
        {{ content }}
              
      </section>

    </div>

    {% if site.comments and page.comments != false %}
      {% include comments.html %}
    {% endif %}


  </article>
</div>
